body {
    background-color: #020122;
    color: white;
    font-family: "Outfit", sans-serif;
    
}
main {
    background-color: #000000;
    width: 80%;
    margin: 0 auto;

}

 h1 {
    text-align: center;
    font-size: 3em;
}

h2 {
    padding: 5px;
    text-align: center;
}

 footer {
    background-color: #60656F;
    text-align: center;
    padding: 15px;
    height: 50px;
    width: 100%;
 }

 

